:root {
    --border_radius_v: 10px;
}

html {
    height: 100%;
    width: 100%;
    font-size: x-large;

}

body {
    width: 100%;
    height: 100%;
    background-color: #2e36c8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border_radius_v);

}

/* img {
    display: flex;
    width: 100;
    height: 100;

} */


button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #951791;
    width: max-content;
    height: max-content;
    min-width: 20%;
    min-height: 60%;
    font-size: 120%;
}

div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #951791;
    width: 40vw;
    height: 90vh;
    min-width: max-content;
    min-height: max-content;
    margin: 1%;
    border-radius: var(--border_radius_v);

}

.slideshow {
    display: flex;
    width: 80%;
    height: 80%;
    background-color: beige;
    overflow: hidden;

}

.start_btn {
    background-color: transparent;
    width: 80%;
    height: 10%;
}

img {
    height: 100%;
    background-color: chocolate;
}

@keyframes my_autoplay {
    0% {
        top: 100%;
    }

    4% {
        top: 0%;
    }

    33.33% {
        top: 0%;
    }

    37.33% {
        top: -100%;
    }

    100% {
        top: -100%;
    }
}