:root {

  --BackgroundColor-NightMode: #333333;
  --TextColor-NightMode: #FF8C66;
  --BackgroundTextColor-NightMode: #2ACCFE;
  --BackgroundOverlayColor-NightMode: #58BF03;
  --ButtonsColor-NightMode: #FEA4E6;

  --BackgroundColor-LightMode: #d7a7a7cc;
  --TextColor-LightMode: #333333;
  --BackgroundTextColor-LightMode: #FEA4E6;
  --ButtonsColor-LightMode: #58BF03;


  font-family: 'Arial';
  letter-spacing: 0.15em;
}


body {

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


