.MainTitle {
    color: var(--TextColor-LightMode);
}

.PlayButton {
    color: var(--TextColor-LightMode);
    background-color: var(--ButtonsColor-LightMode);
}


.LayoutButton {
    color: var(--TextColor-LightMode);
    background-color: var(--ButtonsColor-LightMode);
}

.LayoutButton:hover {
    text-decoration: underline;
}

.deviceChoiceTitle{
    color:black;
}