.MainTitle {
    color: var(--TextColor-NightMode);
}

.PlayButton {
    color: var(--BackgroundColor-NightMode);
    background-color: var(--BackgroundTextColor-NightMode);
}



.SettingsButton {
    background-color: var(--BackgroundTextColor-NightMode);
}


.LayoutButton {
    color: var(--BackgroundColor-NightMode);
    background-color: var(--BackgroundTextColor-NightMode);
}

.LayoutButton:hover {
    text-decoration: underline;
}

.deviceChoiceTitle {
    color: white;
}