.description {
    color:white;
}

.listSkillItem {
    color: white;
    border: solid 1px white;
}

.listSkillItem:hover {
    color: black;
    background-color: var(--BackgroundTextColor-NightMode);
    transform: scale(0.9);
    transition: ease-out 500ms;
    font-weight: bolder;
    border: none;
}
.quitGameButton {
    color: black;
}

.quitGameButton:hover {
    color: black;
}

.SettingsButton {
    background-color: var(--BackgroundTextColor-NightMode);
}
