.description {
    color:black;
}

.MainTitle {
    color: var(--TextColor-LightMode);
}

.MainPageContainer {
    background-color: var(--BackgroundColor-LightMode);
}

.SettingsButton {
    background-color: var(--ButtonsColor-LightMode);
}

.listSkillItem {
    color: black;
    border-color: black;
}

.listSkillItem:hover {
    color: white;
    background-color: var(--TextColor-LightMode);
}