.description {
    color:white;
}
.MainTitle {
    color: var(--TextColor-NightMode);
}

.MainPageContainer {
    background-color: var(--BackgroundColor-NightMode);
}

.listSkillItem {
    color: white;
    border: solid 1px var(--TextColor-NightMode);
}

.listSkillItem:hover {
    color: black;
    background-color: var(--BackgroundTextColor-NightMode);
}
.quitGameButton {
    color: black;
}

.quitGameButton:hover {
    color: black;
}

.SettingsButton {
    background-color: var(--BackgroundTextColor-NightMode);
}
