
html {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    background-color: var(--BackgroundColor-NightMode);
}

body {
    width:100%;
    height:100%;
    margin:0;
    padding:0;

}

#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding:0;
}

main {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    display:flex;
    flex-direction: column;
    align-items:center;
    background-color: var(--BackgroundColor-NightMode)
}

span {
    width:100%;
    display: grid;
    justify-items:end;
    align-items:center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;

}

.MainTitle {

    grid-area: 1 / 2 / 2 / 3; 
    font-size: 5vw;
    text-align: center;
    margin:0;
    color: var(--TextColor-NightMode);
    letter-spacing: 0.15em;
    cursor: default;
}

.AvatarContainer {
    width : 40vw;
    height: 70vh;
    min-width:300px;
}

.AvatarContainerSubstitute {
    width : 40vw;
    height: 50vh;
    min-width:300px;
}

.SettingsButton {
    grid-area: 1 / 3 / 2 / 4;
    width: 10vw;
    height: 10vw;
    min-width: 50px;
    max-width: 100px;
    max-height: 100px;
    min-height: 50px;
    margin:20px;
    cursor:pointer;
    background: url("../public/roue-dentee.png");
    background-size: cover;
    border:none;
    border-radius: 10px;
    box-shadow:5px 5px 5px var(--ButtonsColor-NightMode);
    background-color: var(--BackgroundTextColor-NightMode);
    transition: ease-in-out 0.2s;
}

.SettingsButton:hover {
    border: solid var(--ButtonsColor-NightMode) 2px;
    box-shadow: 0px 0px 10px var(--ButtonsColor-NightMode);
}

#mainPageContainer {
    
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-direction: row;
    background-color: var(--BackgroundColor-NightMode);
}

section {
    display: flex;
    width: 40vw;
    height: 45vh;
    text-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    font-size: 1.1em;
}

#mainPageList {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 30%;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.listSkillItem {
    cursor: pointer; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 20%;
    padding: 20px;
}

.listSkillItem:hover {
    color: var(--BackgroundTextColor-NightMode);
    text-decoration: underline;
    border: var(--BackgroundOverlayColor-NightMode) solid 2px;
    border-radius: 10px;
}

p {
    cursor: default;
    padding: 20px;
}


/* TODO ask user at the beginning of the site which display he wants*/
@media (max-width: 1500px) or (max-height: 800px) {
    #mainPageContainer {
        flex-direction: column;
        height: 30%;
    }
    .AvatarContainerSubstitute {
        max-width: 50vw;
        max-height:20vh;
    }
    .SettingsButton {
        width: fit-content;
        height: fit-content;
    }
    section {
        width: 80%;
        height: 50vh;
    }
    p {
        font-size: 80%;
    }
}
